body {
    font: 100%/1.5 'Lato', san-serif;
    margin: 0;
    // background: url(../../images/Home.png);
    // opacity: 0.5;
    // background-position: top;
    // background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

.main {
    &__about {
        padding: 77px 0 60px;

        @media (max-width: 1440px) {
            padding: 62px 0 60px;
        }

        @media (max-width: 1199px) {
            padding: 40px 0 30px;
        }

        @media (max-width: 991px) {
            padding: 40px 0 37px;
        }
    }

    &__features {
        padding: 74px 0 60px;

        @media (max-width: 1440px) {
            padding: 62px 0 60px;
        }

        @media (max-width: 1199px) {
            padding: 40px 0 60px;
        }
    }

    &__advantages {
        padding: 74px 0 75px;
        margin-top: -158px;

        @media (max-width: 1440px) {
            padding: 62px 0 75px;
        }

        @media (max-width: 1199px) {
            padding: 40px 0 50px;
            margin-top: -108px;
        }

        @media (max-width: 767px) {
            padding: 40px 0 50px;
            margin-top: -10px;
        }
    }

    &__testimonials {
        padding: 77px 0 102px;

        @media (max-width: 1440px) {
            padding: 62px 0 82px;
        }

        @media (max-width: 1199px) {
            padding: 40px 0 52px;
        }
    }

    &__our-team {
        padding: 77px 0 126px;

        @media (max-width: 1440px) {
            padding: 62px 0 106px;
        }

        @media (max-width: 1199px) {
            padding: 40px 0 76px;
        }

        @media (max-width: 991px) {
            padding: 40px 0 40px;
        }
    }

    &__faq {
        padding: 73px 0 0;

        @media (max-width: 1440px) {
            padding: 62px 0 0;
        }

        @media (max-width: 1199px) {
            padding: 40px 0 0px;
        }
    }

    &__works {
        padding: 75px 0 103px;

        @media (max-width: 1440px) {
            padding: 62px 0 103px;
        }

        @media (max-width: 1199px) {
            padding: 40px 0 73px;
        }
    }

    &__blog {
        padding: 71px 0 121px;

        @media (max-width: 1440px) {
            padding: 66px 0 111px;
        }

        @media (max-width: 1199px) {
            padding: 44px 0 81px;
        }
    }

    &__partners {
        padding: 72px 0 101px;

        @media (max-width: 1440px) {
            padding: 66px 0 91px;
        }

        @media (max-width: 1199px) {
            padding: 44px 0 64px;
        }
    }

    &__contact {
        padding: 75px 0 0px;

        @media (max-width: 1440px) {
            padding: 66px 0 0px;
        }

        @media (max-width: 1199px) {
            padding: 44px 0 0px;
        }
    }
}

/* header */
.header {
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(51, 51, 51, 0.2);
        z-index: 0;
    }

    * {
        z-index: 1;
    }

    &__navigation {
        position: fixed;
        width: 100%;
        z-index: 3;
        border-bottom: 1px solid #555453;
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 0;
    }

    &__content {
        padding: 285px 0 188px;
        text-align: center;

        @media (max-width: 1440px) {
            padding: 240px 0 180px;
        }

        @media (max-width: 1199px) {
            padding: 185px 0 125px;
        }

        @media (max-width: 991px) {
            padding: 175px 0 105px;
        }
    }

    &__title {
        color: #fff;
        font-size: 34px;
        font-weight: 400;
        line-height: 56px;
        margin-bottom: 0;

        @media (max-width: 1440px) {
            font-size: 34px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 46px;
        }

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 36px;
        }

        @media (max-width: 450px) {
            font-size: 20px;
            line-height: 36px;
        }
    }

    &__subtitle {
        color: #fff;
        font-size: 112px;
        font-weight: 300;
        line-height: 120px;
        margin-bottom: 135px;
        margin-top: 0;

        @media (max-width: 1440px) {
            font-size: 96px;
            margin-bottom: 115px;
        }

        @media (max-width: 1199px) {
            font-size: 70px;
            line-height: 96px;
            margin-bottom: 55px;
        }

        @media (max-width: 991px) {
            font-size: 56px;
            line-height: 84px;
            margin-bottom: 45px;
        }

        @media (max-width: 767px) {
            font-size: 50px;
            line-height: 75px;
            margin-bottom: 45px;
        }

        @media (max-width: 450px) {
            font-size: 36px;
            line-height: 50px;
            margin-bottom: 45px;
        }
    }
}

.logotype {
    padding: 54px 0px 46px 65px;

    @media (max-width: 1599px) {
        padding: 48px 0px 40px 65px;
    }

    @media (max-width: 1440px) {
        padding: 36px 0px 28px 65px;
    }

    @media (max-width: 767px) {
        padding: 30px 0px 22px 25px;
    }

    @media (max-width: 600px) {
        padding: 30px 0px 22px 10px;
    }

    &__link {
        transition: all 0.4s ease-in-out;

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }

    &__img {
        width: 479px;

        @media (max-width: 1599px) {
            width: 356px;
        }

        @media (max-width: 1440px) {
            width: 300px;
        }

        @media (max-width: 1199px) {
            width: 185px;
        }

        @media (max-width: 575px) {
            width: 175px;
        }

        @media (max-width: 400px) {
            width: 165px;
        }
    }
}

.nav {
    @media (max-width: 991px) {
        justify-content: center;
        flex-direction: column;
        padding-right: 0;
    }

    &__list {
        display: flex;
        padding: 50px 62px 0 0;

        @media (max-width: 1599px) {
            padding: 44px 62px 0 0;
        }

        @media (max-width: 1440px) {
            padding: 36px 62px 0 0;
        }

        @media (max-width: 1199px) {}

        @media (max-width: 991px) {
            padding: 0;
            padding-top: 100px;
            display: block;
            position: relative;
            // right: 40px;
            height: 100%;
            flex-direction: column;
            display: flex;
            // text-align: right;
        }
    }

    &__link {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        line-height: 46px;
        text-decoration: none;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0;
        margin-left: 70px;
        transition: all 0.4s ease-in-out;

        @media (max-width: 1599px) {
            font-size: 20px;
            line-height: 36px;
        }

        @media (max-width: 1440px) {
            margin-left: 50px;
            font-size: 16px;
            line-height: 26px;
        }

        @media (max-width: 1199px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media (max-width: 991px) {
            margin-left: 0px;
            display: block;
            font-size: 18px;
            line-height: 30px;
            padding: 10px 0;
            text-align: center;
            margin: 0 auto;
        }

        &:first-child {
            margin-left: 0px;

            @media (max-width: 991px) {
                margin: 0 auto;
            }
        }

        &--team {
            margin-left: 44px;

            @media (max-width: 1440px) {
                margin-left: 50px;
            }

            @media (max-width: 991px) {
                margin-left: 0px;
                margin: 0 auto;
            }
        }

        &--active {
            position: relative;
        }

        &:hover,
        &:active {
            color: #5dbdfe;
        }

        // &:focus {
        //     color: #5dbdfe;
        //     opacity: 0.8;
        // }
    }
}

.dropdown-menu {
    position: relative;
    margin: 0 auto;
    z-index: 2;

    &__inner {
        position: absolute;
        top: 104px;
        left: -113px;
        padding: 14px 57px 19px 25px;
        background: #fff;
        box-shadow: 0.5px 0.9px 13px rgba(0, 0, 0, 0.3);
        display: none;
        transition: 1s;

        @media (max-width: 1599px) {
            top: 86px;
        }

        @media (max-width: 1440px) {
            top: 64px;
        }

        @media (max-width: 1199px) {
            top: 53px;
            left: -96px;
            padding: 14px 40px 19px 21px;
        }

        @media (max-width: 991px) {
            top: 0px;
            left: 70px;
        }

        @media (max-width: 600px) {
            left: -77px;
        }
    }

    &__link {
        color: #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 37px;
        text-decoration: none;
        display: block;

        @media (max-width: 1440px) {
            font-size: 16px;
            line-height: 26px;
        }

        @media (max-width: 1199px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media (max-width: 991px) {
            font-size: 18px;
            line-height: 30px;
        }

        &:hover {
            color: #5dbdfe;
        }
    }
}

.active-menu {
    // opacity: 1;
    display: block;
}

.navBurger {
    position: absolute;
    right: 82px;
    top: 35px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 24px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    transform: rotate(0deg);
    transition: all 0.25s ease-in-out;
    display: none;

    @media (max-width: 991px) {
        display: block;
        top: 35px;
    }

    @media (max-width: 767px) {
        top: 28px;
        right: 45px;
    }

    @media (max-width: 600px) {
        right: 25px;
    }

    @media (max-width: 575px) {
        width: 28px;
    }

    &:before,
    &:after {
        content: "";
        position: absolute;
        background: rgb(255, 255, 255);
        height: 2px;
        width: 100%;
        right: 0;
        will-change: rotate;
        transform: rotate(0deg);
        transition: all 0.5s ease;
    }

    &:before {
        top: -7px;

        @media (max-width: 575px) {
            top: -6.5px;
        }
    }

    &:after {
        bottom: -7px;
        width: 90%;

        @media (max-width: 575px) {
            bottom: -6.5px;
        }
    }

    &.active {
        background: transparent;
        background-clip: content-box;
    }

    &.active:before {
        transform: rotate(135deg);
        top: 0;
        background: #eee;
        width: 110%;
    }

    &.active:after {
        bottom: 0;
        transform: rotate(-135deg);
        background: #eee;
        width: 110%;
    }
}

.overlay {
    @media (max-width: 991px) {
        position: fixed;
        background: rgba(0, 0, 0, 0.84);
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform-origin: right top;
        transform: scale(0);
        visibility: hidden;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
    }

    &.open {
        opacity: 0.99;
        visibility: visible;
        transform: scale(1);
        width: 100%;
    }
}

.locked {
    overflow: hidden;
}

.icon-arrow {
    font-size: 14px;
    margin-left: 10px;
    transform: rotate(0deg);
    pointer-events: none;

    @media (max-width: 1599px) {
        font-size: 12px;
    }

    @media (max-width: 1440px) {
        font-size: 11px;
    }
}

.rotate {
    transform: rotate(-180deg);
    // transition: all 0.4s ease-in-out;

    @media (max-width: 991px) {
        transform: rotate(-90deg);
    }
}

.stick {
    background: rgba(0, 0, 0, 0.84);
    transition: background-color .3 ease;
}

.form {
    background-color: #dbdada;
    margin: 0 auto;
    box-shadow: 0.5px 0.9px 13px rgba(0, 0, 0, 0.3);
    padding: 28px 30px 32px 30px;
    border-radius: 5px;

    @media (max-width: 1199px) {
        padding: 28px 28px 32px 28px;
    }

    @media (max-width: 767px) {
        padding: 28px 28px 32px 28px;
    }

    @media (max-width: 575px) {
        padding: 28px 22px 28px 22px;
    }

    &__input-name,
    &__input-email,
    &__input-phone {
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.8);
        color: #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 22px;
        padding: 15px 18px 15px 18px;
        margin-bottom: 7px;
        width: 310px;
        border-radius: 5px;

        @media (max-width: 1199px) {
            font-size: 16px;
            width: 280px;
            padding: 12px 15px 12px 15px;
        }

        @media (max-width: 991px) {
            font-size: 14px;
            line-height: 22px;
            padding: 10px 13px 10px 13px;
            width: 260px;
        }

        @media (max-width: 575px) {
            width: 240px;
        }
    }

    &__btn-wrap {
        margin-top: 12px;
    }

    &__btn {
        text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.1);
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        background-color: #5dbdfe;
        box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.3);
        width: 310px;
        padding: 18px 0;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        @media (max-width: 1199px) {
            font-size: 15px;
            padding: 14px 0;
            width: 280px;
        }

        @media (max-width: 991px) {
            font-size: 14px;
            padding: 12px 0;
            width: 260px;
        }

        @media (max-width: 575px) {
            width: 240px;
        }

        &:hover {
            background: #4bb7ff;
        }
    }
}

/* about */
.about {
    text-align: center;
    box-shadow: 1.5px 2.6px 8px rgba(0, 0, 0, 0.1);

    &__card {
        padding-bottom: 42px;

        @media (max-width: 1440px) {
            padding-bottom: 30px;
        }

        @media (max-width: 991px) {
            padding-bottom: 20px;
        }

        @media (max-width: 575px) {
            padding-left: 15px;
        }
    }

    &__content {
        text-align: left;
        padding-left: 44px;

        @media (max-width: 767px) {
            padding-right: 50px;
        }

        @media (max-width: 575px) {
            padding: 0 45px 0 35px;
        }

        @media (max-width: 475px) {
            padding: 0 36px 0 35px;
        }

        @media (max-width: 400px) {
            padding: 0 8px 0 35px;
        }
    }

    &__title {
        color: #333;
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 28px;

        @media (max-width: 1440px) {
            font-size: 36px;
            line-height: 46px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 20px;
        }

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 36px;
        }
    }

    &__subtitle {
        opacity: 0.8;
        color: #333;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 62px;

        @media (max-width: 1440px) {
            font-size: 18px;
            line-height: 30px;
        }

        @media (max-width: 1199px) {
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 50px;
        }

        @media (max-width: 991px) {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 40px;
        }
    }

    &__card-title {
        color: #333;
        font-size: 24px;
        font-weight: 400;
        line-height: 46px;
        margin-top: -2px;
        margin-bottom: 15px;

        @media (max-width: 1440px) {
            font-size: 20px;
            line-height: 36px;
        }

        @media (max-width: 1199px) {
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 10px;
        }

        @media (max-width: 991px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__card-text {
        opacity: 0.8;
        color: #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        margin-top: 0;

        @media (max-width: 1440px) {
            font-size: 16px;
            line-height: 26px;
        }

        @media (max-width: 1199px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 20px;
        }
    }

    &__icon-link {
        text-decoration: none;

        &:hover {
            opacity: 0.8;
        }
    }

    &__icon {
        margin-left: 18px;

        @media (max-width: 991px) {
            margin-left: 0px;
        }
    }

    .icon {
        font-size: 60px;
        color: #fff;
        position: relative;

        @media (max-width: 1440px) {
            font-size: 42px;
        }

        @media (max-width: 1199px) {
            font-size: 36px;
        }

        @media (max-width: 991px) {
            font-size: 26px;
        }

        @media (max-width: 575px) {
            font-size: 24px;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 40%;
            left: 50%;
            // margin-right: -50%;
            transform: translate(-50%, -50%);
            background: #5dbdfe;
            border-radius: 50%;
            width: 90px;
            height: 90px;
            z-index: -1;

            @media (max-width: 1440px) {
                width: 75px;
                height: 75px;
            }

            @media (max-width: 1199px) {
                width: 65px;
                height: 65px;
            }

            @media (max-width: 991px) {
                width: 50px;
                height: 50px;
            }

            @media (max-width: 575px) {
                width: 45px;
                height: 45px;
            }
        }
    }

    &__br {
        @media (max-width: 991px) {
            display: none;
        }
    }
}

/* features */
.features {
    text-align: center;
    background-color: #f1f1f1;

    &__card {
        padding-bottom: 42px;

        @media (max-width: 1440px) {
            padding-bottom: 30px;
        }

        @media (max-width: 1199px) {
            padding-bottom: 20px;
        }

        @media (max-width: 1199px) {
            padding-bottom: 10px;
        }
    }

    &__content {
        text-align: left;
        padding-left: 34px;

        @media (max-width: 575px) {
            padding-left: 20px;
        }
    }

    &__title {
        color: #333;
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 28px;

        @media (max-width: 1440px) {
            font-size: 36px;
            line-height: 46px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 20px;
        }

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 36px;
        }
    }

    &__subtitle {
        opacity: 0.8;
        color: #333;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 62px;

        @media (max-width: 1440px) {
            font-size: 18px;
            line-height: 30px;
        }

        @media (max-width: 1199px) {
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 50px;
        }

        @media (max-width: 991px) {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 40px;
        }
    }

    &__card-link {
        color: #333;
        font-size: 24px;
        font-weight: 400;
        line-height: 46px;
        margin-top: -2px;
        margin-bottom: 15px;
        text-decoration: none;

        @media (max-width: 1440px) {
            font-size: 20px;
            line-height: 36px;
        }

        @media (max-width: 1199px) {
            font-size: 18px;
            line-height: 30px;
        }

        @media (max-width: 991px) {
            font-size: 16px;
            line-height: 24px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__card-text {
        opacity: 0.8;
        color: #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        margin-top: 14px;

        @media (max-width: 1440px) {
            font-size: 16px;
            line-height: 26px;
            padding-right: 68px;
        }

        @media (max-width: 1199px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 20px;
            padding-right: 34px;
        }

        @media (max-width: 767px) {
            padding-right: 70px;
        }

        @media (max-width: 575px) {
            padding-right: 80px;
        }

        @media (max-width: 486px) {
            padding-right: 84px;
        }

        @media (max-width: 420px) {
            padding-right: 20px;
        }

        @media (max-width: 392px) {
            padding-right: 15px;
        }

        &--first {
            padding-right: 16px;

            @media (max-width: 991px) {
                padding-right: 20px;
            }

            @media (max-width: 767px) {
                padding-right: 50px;
            }

            @media (max-width: 575px) {
                padding-right: 60px;
            }

            @media (max-width: 546px) {
                padding-right: 59px;
            }

            @media (max-width: 486px) {
                padding-right: 67px;
            }

            @media (max-width: 420px) {
                padding-right: 55px;
            }

            @media (max-width: 392px) {
                padding-right: 15px;
            }
        }

        &--second {
            padding-right: 58px;

            @media (max-width: 991px) {
                padding-right: 27px;
            }

            @media (max-width: 767px) {
                padding-right: 85px;
            }

            @media (max-width: 575px) {
                padding-right: 60px;
            }

            @media (max-width: 486px) {
                padding-right: 70px;
            }

            @media (max-width: 420px) {
                padding-right: 33px;
            }

            @media (max-width: 392px) {
                padding-right: 15px;
            }
        }
    }

    &__br {
        @media (max-width: 991px) {
            display: none;
        }
    }

    &__icon {
        margin-top: -15px;
        margin-left: 5px;

        @media (max-width: 991px) {
            margin-top: -10px;
            margin-left: 0px;
        }
    }

    .icon-features {
        font-size: 63px;
        opacity: 0.2;
        color: #333;

        @media (max-width: 1440px) {
            font-size: 53px;
        }

        @media (max-width: 1199px) {
            font-size: 50px;
        }

        @media (max-width: 991px) {
            font-size: 43px;
        }
    }

    &__picture {
        margin-top: -10px;

        @media (max-width: 767px) {
            display: none;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 1.5%;
            left: 3%;
            background: #f34235;
            width: 50%;
            height: 64%;
            z-index: 0;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 1.5%;
            left: 48%;
            background: #5dbdfe;
            width: 50%;
            height: 64%;
            z-index: 0;
        }
    }

    &__img {
        position: relative;
        z-index: 1;

        @media (max-width: 1440px) {
            width: 58%;
        }

        @media (max-width: 991px) {
            width: 74%;
        }
    }
}

/* advantages */
.advantages {
    background-color: #f34235;
    box-shadow: 1.5px 2.6px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1;

    &__title {
        color: #fff;
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 28px;

        @media (max-width: 1440px) {
            font-size: 36px;
            line-height: 46px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 20px;
        }

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 36px;
        }
    }

    &__subtitle {
        opacity: 0.8;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 51px;

        @media (max-width: 1440px) {
            font-size: 18px;
            line-height: 30px;
        }

        @media (max-width: 1199px) {
            font-size: 15px;
            line-height: 24px;
        }

        @media (max-width: 991px) {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 40px;
        }
    }

    &__card {
        padding-bottom: 25px;

        @media (max-width: 1440px) {
            padding-bottom: 15px;
        }

        @media (max-width: 991px) {
            display: flex;
            text-align: left;
            padding-bottom: 20px;
        }

        @media (max-width: 575px) {
            padding-left: 20px;
        }
    }

    &__content {
        @media (max-width: 991px) {
            padding: 0 40px 0 40px;
        }

        @media (max-width: 767px) {
            padding: 0 0px 0 37px;
        }
    }

    &__icon-text {
        color: #f34235;
        font-size: 45px;
        font-weight: 700;
        line-height: 24px;
        position: relative;
        margin-bottom: 60px;

        @media (max-width: 1440px) {
            font-size: 36px;
            line-height: 46px;
            margin-bottom: 38px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 40px;
        }

        @media (max-width: 991px) {
            font-size: 21px;
            line-height: 36px;
        }

        @media (max-width: 767px) {
            font-size: 19px;
            line-height: 36px;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 49%;
            // margin-right: -50%;
            transform: translate(-50%, -50%);
            background: #fff;
            border-radius: 50%;
            width: 90px;
            height: 90px;
            z-index: -1;

            @media (max-width: 1440px) {
                width: 75px;
                height: 75px;
            }

            @media (max-width: 991px) {
                width: 50px;
                height: 50px;
            }

            @media (max-width: 767px) {
                width: 45px;
                height: 45px;
            }
        }
    }

    &__card-link {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 25px;
        text-decoration: none;

        @media (max-width: 1440px) {
            font-size: 20px;
            line-height: 36px;
        }

        @media (max-width: 1199px) {
            font-size: 18px;
            line-height: 30px;
        }

        @media (max-width: 991px) {
            font-size: 16px;
            line-height: 24px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__card-text {
        opacity: 0.8;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        padding: 0 2px;
        margin-top: 25px;

        @media (max-width: 1440px) {
            font-size: 16px;
            line-height: 26px;
            padding: 0 20px;
            margin-top: 12px;
        }

        @media (max-width: 1199px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 20px;
            padding: 0;
        }

        @media (max-width: 575px) {
            padding-right: 75px;
        }

        @media (max-width: 515px) {
            padding-right: 65px;
        }

        @media (max-width: 486px) {
            padding-right: 100px;
        }

        @media (max-width: 440px) {
            padding-right: 50px;
        }

        @media (max-width: 400px) {
            padding-right: 30px;
        }
    }

    &__br {
        @media (max-width: 991px) {
            display: none;
        }
    }
}

/* testimonials */
.testimonials {
    text-align: center;
    background-color: #f1f1f1;

    &__title {
        color: #333;
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 35px;

        @media (max-width: 1440px) {
            font-size: 36px;
            line-height: 46px;
            margin-bottom: 10px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 0px;
        }

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 36px;
        }
    }

    & .icon-testimonials {
        font-size: 70px;
        color: #f34437;

        @media (max-width: 1440px) {
            font-size: 62px;
        }

        @media (max-width: 1199px) {
            font-size: 54px;
        }

        @media (max-width: 991px) {
            font-size: 46px;
        }
    }

    &__author-text {
        opacity: 0.8;
        color: #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        margin-top: -11px;
        margin-bottom: 43px;

        @media (max-width: 1440px) {
            font-size: 18px;
            line-height: 30px;
            position: relative;
            top: 3px;
        }

        @media (max-width: 1199px) {
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 35px;
        }

        @media (max-width: 991px) {
            font-size: 14px;
            line-height: 22px;
            top: 5px;
        }
    }

    &__author-img {
        text-align: center;
        border-radius: 50%;
    }

    &__author-link {
        text-decoration: none;
        transition: all 0.4s ease-out;
        outline: none;

        &:hover {
            opacity: 0.8;
        }
    }

    &__author {
        outline: none;
    }

    &__author-position {
        color: #5dbdfe;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 0;

        @media (max-width: 1440px) {
            font-size: 20px;
            line-height: 36px;
        }

        @media (max-width: 1199px) {
            font-size: 18px;
            line-height: 30px;
        }

        @media (max-width: 991px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    & .slick-slide {
        img {
            display: inline-block;
        }
    }

    & .slick-dots {
        position: relative;
        flex-direction: row;
        top: 0px;
        left: 0px;
        margin-top: 20px;
        padding: 0;
        display: flex;
        justify-content: center;

        @media (max-width: 1199px) {
            margin-top: 15px;
        }

        & li {
            padding: 0 5px;
            list-style: none;
        }

        button {
            display: inline-block;
            padding: 0;
            background: none;
            border: none;
            text-indent: -999px;
            overflow: hidden;
            width: 9px;
            height: 9px;
            border: 0px solid #333;
            background-color: #ccc;
            border-radius: 50%;
            outline: none;

            &:hover,
            &:active {
                background-color: #333;
                outline: none;
                cursor: pointer;
            }

            &:focus {
                background-color: #665f60;
            }
        }

        & .slick-active {
            button {

                background-color: #333;
            }
        }
    }

    &__br {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

/* team */
.our-team {
    text-align: center;

    &__title {
        color: #333;
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 60px;

        @media (max-width: 1440px) {
            font-size: 36px;
            line-height: 46px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 50px;
        }

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 40px;
        }
    }

    &__card {
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    &__author {
        color: #333;
        font-size: 24px;
        font-weight: 400;
        line-height: 46px;
        margin-top: 13px;
        margin-bottom: 0;

        @media (max-width: 1440px) {
            font-size: 20px;
            line-height: 36px;
            margin-bottom: 5px;
        }

        @media (max-width: 1199px) {
            font-size: 18px;
            line-height: 30px;
        }

        @media (max-width: 991px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__author-link {
        transition: all 0.4s ease-out;
        text-decoration: none;

        &:hover {
            opacity: 0.8;
        }
    }

    &__position {
        color: #5dbdfe;
        font-size: 16px;
        font-weight: 900;
        line-height: 34px;
        margin-top: -4px;
        margin-bottom: 0px;

        @media (max-width: 1440px) {
            line-height: 26px;
            margin-top: 0;
            margin-bottom: 10px;
        }

        @media (max-width: 1199px) {
            font-size: 15px;
            line-height: 24px;
        }

        @media (max-width: 991px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__text {
        opacity: 0.8;
        color: #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        margin: 0;
        padding: 0 2px;

        @media (max-width: 1440px) {
            font-size: 16px;
            line-height: 26px;
            padding: 0 20px;
        }

        @media (max-width: 1199px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 20px;
            padding: 0 24px;
        }

        @media (max-width: 767px) {
            padding: 0 110px;
        }

        @media (max-width: 485px) {
            padding: 0 95px;
        }

        @media (max-width: 455px) {
            padding: 0 75px;
        }

        @media (max-width: 420px) {
            padding: 0 55px;
        }

        @media (max-width: 370px) {
            padding: 0 27px;
        }
    }

    &__img {
        @media (max-width: 1199px) {
            width: 75%;
        }

        @media (max-width: 991px) {
            width: 45%;
        }

        @media (max-width: 767px) {
            width: 27%;
        }
    }
}

/* FAQ */
.faq {
    text-align: center;
    background-image: url('../../images/faq.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__title {
        color: #333;
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 61px;

        @media (max-width: 1440px) {
            font-size: 36px;
            line-height: 46px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 50px;
        }

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 40px;
        }
    }

    &__collapse {       
        box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 32px;

        @media (max-width: 1199px) {
            margin-bottom: 25px;
        }
    }

    &__collapse--active {
        background-color: #dd3c30;
    }

    &__collapse-link {
        color: #fff;
        background-color: #ff4538;
        border-radius: 5px;
        text-decoration: none;
        font-size: 24px;
        font-weight: 400;
        line-height: 46px;
        width: 100%;
        text-align: left;
        display: inline-block;
        padding: 12px 21px 16px;

        @media (max-width: 1440px) {
            font-size: 20px;
            line-height: 36px;
            padding: 10px 21px 12px;
        }

        @media (max-width: 1199px) {
            font-size: 16px;
            line-height: 28px;
        }

        @media (max-width: 991px) {
            font-size: 14px;
            line-height: 22px;
        }

        &::after {
            color: #fff;
            font-size: 34px;
            content: "\e147";
            font-family: "Material Icons";
            position: absolute;
            right: 28px;
            transition: 0.3s;

            @media (max-width: 1440px) {
                font-size: 24px;
            }
        }

        &:hover {
            background-color: #dd3c30;
            border-radius: 5px;
        }
    }

    & .in {
        border-radius: 5px 5px 0 0;
        background-color: #dd3c30;
        transition: 0.3s;
    }

    .material-icons-add_circle {
        position: absolute;
        z-index: 2;
    }

    .material-icons-remove_circle {
        color: #fff;
        font-size: 34px;
        position: absolute;
        right: 28px;
        z-index: -1;

        @media (max-width: 1440px) {
            font-size: 24px;
        }
    }

    & .in .material-icons-remove_circle {
        z-index: 0;
    }

    &__collapse-body {
        background-color: #dd3c30;
        border-radius: 0 0 5px 5px;
        display: none;
        padding: 7px 5px 17px 22px;
        margin-top: -7px;

        @media (max-width: 575px) {
            padding: 7px 27px 17px 22px;
        }
    }

    &__collapse-text {
        text-align: left;
        margin: 0;
        margin-top: -4px;
       
        opacity: 0.8;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;

        @media (max-width: 1440px) {
            font-size: 16px;
            line-height: 26px;
            // padding: 0px 4px 17px 22px;
        }

        @media (max-width: 1199px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 20px;
        }
    }
}

/* works */
.works {
    text-align: left;

    &__video {
        padding-top: 47px;

        @media (max-width: 1199px) {
            padding-top: 40px;
        }

        @media (max-width: 991px) {
            padding-top: 35px;
        }
    }

    &__video-frame {
        width: 100%;
        height: 340px;

        @media (max-width: 1440px) {
            height: 310px;
        }

        @media (max-width: 1199px) {
            height: 240px;
        }

        @media (max-width: 991px) {
            height: 230px;
        }

        @media (max-width: 767px) {
            height: 280px;
        }

        @media (max-width: 440px) {
            height: 240px;
        }

        @media (max-width: 380px) {
            height: 200px;
        }
    }

    &__title {
        color: #333;
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 30px;

        @media (max-width: 1440px) {
            font-size: 36px;
            line-height: 46px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 20px;
        }

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 15px;
        }
    }

    &__subtitle {
        color: #5dbdfe;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        padding-left: 5px;
        margin-bottom: 0px;

        @media (max-width: 1440px) {
            font-size: 18px;
            line-height: 30px;
            padding-right: 50px;
            padding-left: 0px;
        }

        @media (max-width: 1199px) {
            font-size: 15px;
            line-height: 24px;
        }

        @media (max-width: 991px) {
            font-size: 14px;
            line-height: 22px;
            padding-right: 37px;
        }

        @media (max-width: 767px) {
            padding-right: 117px;
        }

        @media (max-width: 450px) {
            padding-right: 60px;
        }

        @media (max-width: 385px) {
            padding-right: 20px;
        }

        @media (max-width: 342px) {
            padding-right: 10px;
        }
    }

    & .order {
        @media (max-width: 767px) {
            order: -1;
        }
    }

    &__text {
        opacity: 0.8;
        color: #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
        margin-top: 13px;

        @media (max-width: 1440px) {
            font-size: 16px;
            line-height: 26px;
            padding-right: 45px;
        }

        @media (max-width: 1199px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 20px;
            padding-right: 35px;
        }

        @media (max-width: 575px) {
            padding-right: 75px;
        }

        @media (max-width: 450px) {
            padding-right: 40px;
        }
    }
}

/* porfolio */
.portfolio {
    overflow: hidden;

    &__gallery {
        box-shadow: 1.5px 2.6px 8px rgba(0, 0, 0, 0.1);
        justify-content: center;

        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__img {
        max-width: 100%;
        display: block;
        transition: all 0.3s ease-in-out;

        @media (max-width: 767px) {
            width: 100%;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

/* blog */
.blog {
    background-color: #f1f1f1;
    text-align: center;

    &__title {
        color: #333;
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 31px;

        @media (max-width: 1440px) {
            font-size: 36px;
            line-height: 46px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 20px;
        }

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 36px;
        }
    }

    &__subtitle {
        opacity: 0.8;
        color: #333;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 60px;

        @media (max-width: 1440px) {
            font-size: 18px;
            line-height: 30px;
        }

        @media (max-width: 1199px) {
            font-size: 15px;
            line-height: 24px;
            margin-bottom: 50px;
        }

        @media (max-width: 991px) {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 40px;
        }
    }

    &__article {
        box-shadow: 1.5px 2.6px 8px rgba(0, 0, 0, 0.1);
    }

    &__link {
        display: flex;
    }

    &__article {
        position: relative;
        cursor: pointer;

        @media (max-width: 767px) {
            margin-bottom: 30px;
        }

        &:hover .blog__layer {
            opacity: 1;
        }
    }

    &__layer {
        background-image: linear-gradient(to top, rgba(51, 51, 51, 0.6) 0%, transparent 56%, transparent 100%);
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        transition: all 0.5s ease;
    }

    &__layer-link {
        position: absolute;
        top: 33px;
        right: 36px;
        text-decoration: none;
    }

    & .icon-blog {
        color: #fff;
        font-size: 24px;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 47%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #5dbdfe;
            box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            width: 46px;
            height: 46px;
            z-index: -1;
        }
    }

    &__layer-content {
        text-align: left;
        position: absolute;
        bottom: 0;
        left: 33px;
    }

    &__layer-data {
        color: #cfcfcf;
        font-size: 16px;
        font-weight: 900;
        line-height: 34px;
        position: absolute;
        bottom: 34px;

        @media (max-width: 1440px) {
            line-height: 26px;
        }
    }

    &__layer-text {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        line-height: 46px;
        margin-bottom: 16px;
        margin-top: 0px;

        @media (max-width: 1440px) {
            font-size: 20px;
            line-height: 36px;
        }

        @media (max-width: 1199px) {
            font-size: 18px;
            line-height: 30px;
        }

        @media (max-width: 991px) {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__br {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

/* partners */
.partners {
    text-align: center;

    &__title {
        color: #333;
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 75px;

        @media (max-width: 1440px) {
            font-size: 36px;
            line-height: 46px;
            margin-bottom: 65px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 50px;
        }

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 40px;
        }
    }

    &__img {
        transition: all 0.5s ease;

        @media (max-width: 1440px) {
            width: 75%;
        }

        @media (max-width: 1199px) {
            width: 65%;
        }

        @media (max-width: 991px) {
            width: 75%;
        }

        @media (max-width: 767px) {
            width: 55%;
        }

        @media (max-width: 520px) {
            width: 75%;
        }

        &:hover {
            transform: translateY(-4px);
            opacity: .8;
        }
    }

    .mb {
        @media (max-width: 767px) {
            margin-bottom: 25px;
        }
    }
}

/* contact */
.contact {
    background-color: #2c2c2c;
    text-align: center;

    &__title {
        color: #fff;
        font-size: 45px;
        font-weight: 400;
        line-height: 60px;
        margin-bottom: 60px;

        @media (max-width: 1440px) {
            font-size: 36px;
            line-height: 46px;
            margin-bottom: 40px;
        }

        @media (max-width: 1199px) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 30px;
        }

        @media (max-width: 991px) {
            font-size: 24px;
            line-height: 36px;
        }
    }

    &__address {
        color: #fff;
        font-size: 20px;
        line-height: 34px;
        font-weight: 700;
        margin-bottom: 0;

        @media (max-width: 1440px) {
            font-size: 16px;
            line-height: 26px;
        }

        @media (max-width: 1199px) {
            font-size: 14px;
            line-height: 22px;
        }

        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 20px;
        }
    }

    &__telephone {
        color: #fff;
        font-size: 20px;
        line-height: 34px;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 70px;

        @media (max-width: 1440px) {
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 60px;
        }

        @media (max-width: 1199px) {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 50px;
        }

        @media (max-width: 991px) {
            font-size: 13px;
            line-height: 20px;
        }
    }

    &__copyright {
        opacity: 0.1;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 34px;
        margin-top: 70px;

        @media (max-width: 1440px) {
            line-height: 22px;
            margin-top: 60px;
        }

        @media (max-width: 1199px) {
            margin-top: 50px;
        }

        @media (max-width: 991px) {
            margin-top: 40px;
        }
    }

    &__socials-link {
        text-decoration: none;
        color: #fff;
        position: relative;
        font-size: 20px;
        padding: 0 18px;
        z-index: 1;
        transition: all 0.5s ease;

        @media (max-width: 1440px) {
            font-size: 16px;
        }

        @media (max-width: 1199px) {
            font-size: 14px;
        }

        &--first {
            margin-right: 7px;

            @media (max-width: 1199px) {
                margin-right: 5px;
            }
        }

        &:hover {
            opacity: 0.8;
        }
    }

    & .fa-facebook-f {
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #3b579d;
            border-radius: 50%;
            z-index: -1;
            height: 50px;
            width: 50px;

            @media (max-width: 1440px) {
                height: 46px;
                width: 46px;
            }

            @media (max-width: 1199px) {
                height: 40px;
                width: 40px;
            }
        }
    }

    & .fa-twitter {
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #5ea9dd;
            border-radius: 50%;
            z-index: -1;
            height: 50px;
            width: 50px;

            @media (max-width: 1440px) {
                height: 46px;
                width: 46px;
            }

            @media (max-width: 1199px) {
                height: 40px;
                width: 40px;
            }
        }
    }

    & .fa-google-plus-g {
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #df4a32;
            border-radius: 50%;
            z-index: -1;
            height: 50px;
            width: 50px;

            @media (max-width: 1440px) {
                height: 46px;
                width: 46px;
            }

            @media (max-width: 1199px) {
                height: 40px;
                width: 40px;
            }
        }
    }
}

.scroll {
    &__icon {
        position: absolute;
        right: 50px;
        bottom: 74px;
        position: fixed;
        z-index: 2;

        @media (max-width: 767px) {
            right: 45px;
            bottom: 45px;
        }

        @media (max-width: 600px) {
            right: 20px;
        }
    }

    &__link {
        color: #fff;
        text-decoration: none;
        position: relative;
        z-index: 1;
        transition: all 0.5s ease;
        display: none;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #5dbdfe;
            box-shadow: 1.5px 2.6px 8px rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            z-index: -1;
            height: 50px;
            width: 50px;

            @media (max-width: 1199px) {
                height: 45px;
                width: 45px;
            }

            @media (max-width: 767px) {
                height: 40px;
                width: 40px;
            }
        }

        &:hover {
            opacity: 0.8;
        }
    }

    & .icon-scroll {
        font-size: 42px;

        @media (max-width: 1199px) {
            font-size: 36px;
        }

        @media (max-width: 767px) {
            font-size: 32px;
        }
    }

    & .show {
        display: block;
    }
}

/* map */
#map {
    position: relative;
    height: 440px;
    z-index: 1;
    background-size: cover;
}

/* parallax */
.parallax-window {
    min-height: 760px;
    background: transparent;

    @media (max-width: 1440px) {
        min-height: 580px;
    }

    @media (max-width: 1199px) {
        min-height: 510px;
    }

    @media (max-width: 991px) {
        min-height: 440px;
    }

    @media (max-width: 767px) {
        min-height: 820px;
    }

    @media (max-width: 575px) {
        min-height: 825px;
    }
}